.user-card-container {
    background-color: rgba(0, 128, 0, 0.1);
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 128, 0, 0.1);
}

.user-card-container>h3 {
    text-align: center;
}

.user-card-container__list>li {
    list-style: none;
    font-weight: bold;
}

.user-card-container__list>li>span {
    font-weight: normal;
}